/* Dans votre fichier style.css */
.spinnerStyle .increment-button, .spinnerStyle .decrement-button {
    -fx-background-color: #4CAF50; /* Couleur de fond des boutons */
    -fx-background-radius: 50%; /* Rendre les boutons arrondis */
    -fx-border-radius: 50%; /* Bordure arrondie */
    -fx-border-color: #aeaeae; /* Couleur de la bordure */
    -fx-border-width: 2px;
    -fx-pref-width: 30px; /* Largeur du bouton */
    -fx-pref-height: 30px; /* Hauteur du bouton */
    -fx-font-size: 16px; /* Taille de la police (flèches) */
    -fx-text-fill: white; /* Couleur du texte (flèches) */
    -fx-padding: 5px;
}

.spinnerStyle .increment-button:hover, .spinnerStyle .decrement-button:hover {
    -fx-background-color: #45a049; /* Changement de couleur au survol */
}

.spinnerStyle .increment-button:pressed, .spinnerStyle .decrement-button:pressed {
    -fx-background-color: #388e3c; /* Couleur au clic */
}
